TELEGRAM_BOT_TOKEN=your_bot_token_here

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=filebot_db
MYSQL_USER=filebot_user
MYSQL_PASSWORD=your_password

# Path inside the container where files will be stored
PATH_TO_DATA=/app/data